@font-face {
  font-family: "njnaruto";
  src: url("/public/fonts/njnaruto.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

#app {
  text-align: center;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  position: relative;
  height: 100vh;
}

.logo {
  display: inline-block;
  width: 100px;
  height: auto;
  cursor: pointer;
  user-select: none;
}

.logo-image {
  width: 100%;
  height: auto;
}

pre {
  font-size: 7px;
  color: #333;
  text-align: center;
}

.logo-text {
  font-size: 20px;
  font-weight: bold;
  color: #fa7522;
  font-family: "njnaruto", sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

@keyframes confettiAnimation {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(3);
  }
}
